/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
html, body {
	height: 100vh;
	width: 100%;
}

body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
}

a {

	color: #8fbee5;
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #006699;
	cursor: pointer;

}

header {

	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #8fbee5;
	z-index: 100;

}

#logo{

	margin: 20px 10px;
	float: right;
	width: 270px;
	height: 40px;
	background: url(../img/header.png) no-repeat center;
	display: block;

}

nav {

	float: left;
	padding: 20px 10px;	
	
}

.icon-clear-passive {
	background: url(../img/clear-icon.png) no-repeat left;
	padding-left: 20px;
	height: 20px;
}

.icon-clear-passive:hover {
	background: url(../img/clear-icon-current.png) no-repeat left;
}

.icon-load-passive {
	background: url(../img/load-icon.png) no-repeat left;
	padding-left: 20px;
	height: 20px;
}

.icon-load-passive:hover {
	background: url(../img/load-icon-current.png) no-repeat left;
}

.icon-save-passive {
	background: url(../img/save-icon.png) no-repeat left;
	padding-left: 20px;
	height: 20px;
}

.icon-save-passive:hover {
	background: url(../img/save-icon-current.png) no-repeat left;
}

.icon-run-passive {
	background: url(../img/run-icon.png) no-repeat left;
	padding-left: 20px;
	height: 20px;
}

.icon-run-passive:hover {
	background: url(../img/run-icon-current.png) no-repeat left;
}

.icon-blocks-passive {
	background: url(../img/blocks-icon.png) no-repeat left;
	padding-left: 22px;
	height: 20px;
}

.icon-blocks-current {
	background: url(../img/blocks-icon-current.png) no-repeat left;
	padding-left: 22px;
	height: 20px;
}

.icon-blocks-current:hover {
	background: url(../img/blocks-icon-current.png) no-repeat left;
}

.icon-blocks-passive:hover {
	background: url(../img/blocks-icon-current.png) no-repeat left;
}

.icon-code-passive {
	background: url(../img/code-icon.png) no-repeat left;
	padding-left: 22px;
	height: 20px;
}

.icon-code-current {
	background: url(../img/code-icon-current.png) no-repeat left;
	padding-left: 22px;
	height: 20px;
}

.icon-code-current:hover {
	background: url(../img/code-icon-current.png) no-repeat left;
}

.icon-code-passive:hover {
	background: url(../img/code-icon-current.png) no-repeat left;
}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #8fbee5 url(../img/menu-icon.png) center;

}

a:hover#menu-icon {

	background-color: #006699;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current,
.current:hover {
	color: #006699;
}

section {
	height: 100%;
	width: 100%;
	position: relative;

}

#table-wrapper {
	height: 100%;
	width: 100%;
}

#table-content {
	height: 100%;
	width: 100%;
}

#table-header {
	height: 80px;
}

.nav-save-dropdown-content {
	display: none;
	position: absolute;
	background: #fff;
	border: 5px solid #dee7ec;
	padding: 10, 20px;
}

.dropdown-element {
	display: block;
	margin: 12px;
}

.nav-save-dropdown:hover .nav-save-dropdown-content {
    display: block;
}

.modal {
	display: none;
	position: fixed;
	z-index: 101;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px 20px 40px 20px;
	width: 25em;
	border: 5px solid #8fbee5;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

.select {
	display: block;
	width: 20em;
	height: 3em;
	line-height: 2.5;
	appearance: none;
	overflow: hidden;
	background: #f9f9f9;
	color: #555;
	border: 5px solid #dee7ec;
}

select {
	box-shadow: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 .5em;
	color: #555;
	cursor: pointer;
	border: 0 !important;
	font-family: Helvetica Neue, Helvetica, Arial;
	font-size: 0.9em;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 822px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul {

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		left: 10px;
		top: 20px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
	
.:1:hover {
	background-color: #000;
}