/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
html, body {
	height: 100vh;
	width: 100%;
}

h6,h5,h4 {
	color: #006699;
}

.help-inp-type {
	background: #8fbee5;
	color: #ffffff;
	border: solid #8fbee5;
	border-radius: 8px; 
	margin-right: 5px;
	padding: 2px 5px;
	font-size: 0.9em;
}

.help-dropdown-opt {
	font-size: 0.9em;
	color: #006699;
	border: solid #006699 2px;
	border-radius: 8px; 
	margin-right: 5px;
	padding: 2px 5px;
}

.demo {
	/* height: 120px; */
	color: #006699;
	font-weight: bold;
}

.demo a:hover {
	color: white;
}

.card {
	border: 2.5px solid #8fbee5;
}

.card-content {
	width: 100%;
}

.call-blockly {
	height: 140px;
	color: white;
	font-weight: bold;
	background-color: #8fbee5;
	cursor: pointer;
    font-size: 4em;
    font-weight: normal;
}

.btn-rule {
	border-bottom: 4px solid #8fbee5;
}

.demo:hover {
	background-color: #badfff;
}

.delete-btn {
	z-index: 99999;
}

body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
}

a {

	color: #8fbee5;
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #006699;
	cursor: pointer;

}

header {

	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #8fbee5;
	z-index: 100;

}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	border-bottom: 1px solid #8fbee5 !important;
}

[type="checkbox"]+span:not(.lever) {
	padding-left: 25px !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
	border: #8fbee5 !important;
	background-color: #8fbee5 !important;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
	border: 2px solid  #8fbee5 !important;
}

input {
	color: #333 !important;
}

textarea {
	color: #555 !important;
	font-size: 0.9em !important;
	font-family: 'Courier New', Courier, monospace !important;
	border: 0.5px solid #8fbee5 !important;
}

.btn {
	background-color: #8fbee5 !important;
	height: 30px !important;
	line-height: 30px !important;
	border-radius: 15px !important;
}

.collection {
	margin: 0px !important;
	border-radius: 10px !important;
}

.collection .collection-item.active {
	background-color: #badfff !important;
	color: #f9f9f9 !important;
}

.collection .collection-item {
	color: #006699 !important;
	background-color: #f8f8f8 !important;
}

#createBlockNav {
	background-color: #8fbee5 !important;
	color: #f9f9f9 !important;
}

#logo{

	margin: 20px 15px;
	float: right;
	width: 164px;
	height: 30px;
	background: url(../img/header.png) no-repeat center;
	display: block;
	cursor: pointer;
}

nav {

	float: left;
	padding: 20px 10px;	
	
}


ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px;
	/* margin: 2px 5px; */
	/* font-size: 0.9em; */

}
.current,
.current:hover {
	color: #006699;
}

section {
	height: 100%;
	width: 100%;
	position: relative;

}

#table-wrapper {
	height: 100%;
	width: 100%;
}

#table-content {
	height: 100%;
	width: 100%;
}

#table-header {
	height: 80px;
}

.nav-save-dropdown-content {
	display: none;
	position: absolute;
	background: #fff;
	border: 5px solid #dee7ec;
	padding: 10, 20px;
}

input[type="text"][disabled] {
	color: #777 !important;
}

#typeSelector:disabled {
	color: #777 !important;
 }

#actiontimeout:disabled {
	color: #777 !important;
 }

textarea:disabled {
	color: #777 !important;
 }

#deleteBtn {
	background-color: rgb(234, 67, 53) !important;
}

#deleteBtn:disabled {
	background-color: #DFDFDF !important;
 }

.dropdown-element {
	display: block;
	margin: 12px;
}

.nav-save-dropdown:hover .nav-save-dropdown-content {
    display: block;
}

[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever):after {
	background-color: transparent !important;
}

.modal {
	display: none;
	position: fixed;
	z-index: 101;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.params-li {
	float: none;
	display: block;
}

.nested-ul {
	margin-left: 20px;
}

.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px 20px 40px 20px;
	width: 25em;
	border: 5px solid #8fbee5;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

.selectdiv {
	display: block;
	width: 20em;
	height: 3em;
	line-height: 2.5;
	overflow: hidden;
	background: #f9f9f9;
	border: 5px solid #dee7ec;
}

#typeSelector {
	color: #333 !important;
}

select {
	box-shadow: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 .5em;
	cursor: pointer;
	border: 0 !important;
	font-family: Helvetica Neue, Helvetica, Arial;
	font-size: 0.9em;    
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: gray;
	background-image:
	  linear-gradient(45deg, transparent 50%, #8fbee5 50%),
	  linear-gradient(135deg, #8fbee5 50%, transparent 50%),
	  linear-gradient(to right, #8fbee5, #8fbee5);
	background-position:
	  calc(100% - 20px) calc(1em + 5px),
	  calc(100% - 15px) calc(1em + 5px),
	  calc(100% - 2.5em) 0.8em;
	background-size:
	  5px 5px,
	  5px 5px,
	  1px 1.5em;
	background-repeat: no-repeat;
}

/* select.minimal {
  } */


/*MEDIA QUERY*/
@media only screen and (max-width : 822px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul {

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		left: 10px;
		top: 20px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}

}

.help-code {
	background-color: rgb(240, 240, 240);
	font-size: 0.9em;
	font-family: 'Courier New', Courier, monospace;
	padding: 5px;
	margin: 5px;
	border: solid #8fbee5 0.1px;
}